<!DOCTYPE html>
<html>
    <head>
        <title>Enroll In A Course</title>
        <link rel="stylesheet" href="/static/addUser.css?v={{time}}">
    </head>
    <body>
        %if enrollmentDict:
        <div class="container">
            <h1>Enroll In A Course</h1>
            <form class="enroll-form" action="enrollInACourseProcessor" method="post">
                %for course in enrollmentDict:
                <div class="enrollment-class">
                    <input type="checkbox" name="enrollmentList[]" id="" value="{{course['CourseID']}}"><label for="enrollmentList[]">{{course["Title"]}} {{course["CourseID"]}}</label><br>
                </div>
                %end

                %if success == "True":
                <p>Courses Added Successfully!</p>
                %end
                <div class="button-container">
                    <div><input type="submit" value="Enroll"></div>
                    <div><a href="/student">Back to dashboard</a></div>
                </div>
            </form> 
        </div> 
        %else:
            <div class="no-content">
                <p>*If you are seeing this page, you have either enrolled in all available courses, or there are no courses to enroll in (you nerd)*</p>
                <img src="/static/images/nerd.png" alt="Nerdy Guy">
                <div class="button-container"><div><a href="/student">Back to dashboard</a></div></div>
            </div>
        %end          
    </body>
</html>