<!DOCTYPE html>
<html>
    <head>
        <title>Student Dashboard</title>
        <link rel="stylesheet" href="/static/instructorStudent.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome Back {{firstName}}!</h1>
            <div>
                <a class="student-view-link" href="/student/viewEnrolledCourses">View all enrolled courses</a>
                <a class="student-enroll-link" href="/student/enrollInACourse">Enroll in a course</a>
            </div>
            <form action="returnHome" method="post">
                <button type="submit">Logout</button>
            </form>
        </div>
    </body>
</html>