<!DOCTYPE html>

<html>
    <head>
        <title>All Enrolled Courses</title>
        <link rel="stylesheet" href="/static/showThings.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            %if len(enrolledCourseDict) > 0:
            <h1>Currently Enrolled Courses</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Number</th>
                </tr>
                %for enrolledCourse in enrolledCourseDict:
                <tr>
                    <th>{{enrolledCourse["Title"]}}</th>
                    <th>{{enrolledCourse["CourseID"]}}</th>
                </tr>
                %end
            </table>
                
            %else:
                <p>*You aren't in any courses*</p>
            %end
            <div class="button-container"><div ><a href="/student">Back to Dashboard</a></div></div>
        </div>
    </body>
</html>