<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Add a course</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
        <style>
            .form-error {
                color: red;
                font-size: 0.9rem;
                margin-top: 5px;
            }

        </style>
    </head>
    <body>
        %if instructorUsernamesExist:
        <form action="addCourseValidation" method="post">
            <div>
                <label for="title">Course Title:</label>
                <input id="firstName" type="text" name="title" required>
                %if titleAlreadyExists=="True":
                <div class="form-error">*Title already exists</div>
                %end
            </div>
            <div>
                <label for="number">Course Number:</label>
                <input type="number" name="number" min="100" max="999" required> 
                %if numberAlreadyExists=="True":
                <div class="form-error">*Number belongs to another course</div> 
                %end      
            </div>
                <h4>Pick the instructor/s for this course:</h4>
                %for instructor in instructor_dict:
                <input type="radio" name="instructorUsername" id=""value="{{instructor['Username']}}"> {{instructor["Position"][0].upper() + instructor["Position"][1:]}} {{instructor["First Name"]}} {{instructor["Last Name"]}} (Username: {{instructor["Username"]}})<br>
                %end
            <br>
            <input type="submit" value="Add Course">
        </form>
        %else:
        <p>*Can't create a course wthout instructors*</p>
        %end
        <a href="/admin">Back to dashboard</a>
    </body>
</html>