<!DOCTYPE html>
<html lang="en">
<head>
    <title>Add An Instructor</title>
    <link rel="stylesheet" href="/static/addUser.css?v={{time}}">
</head>
<body>
    <div class="container">
        <h1 class="instructer-header">Add An Instructor</h1>
        <form action="addInstructorValidation" method="post">
            <select name="position" required>
                <option value="" style="color: #999;">Instructor Position</option>
                <option value="professor">Professor</option>
                <option value="assistant">Assistant</option>
            </select>

            <div>
                <label for="firstName">Instructor's First Name</label>
                <input id="firstName" type="text" name="firstName" placeholder="Enter First Name" required>
                % if invalidFirstName == "True":
                    <div class="error">*First name can't have spaces, symbols, or numbers</div>
                % end
            </div>
    
            <div>
                <label for="lastName">Instructor's Last Name</label>
                <input id="lastName" type="text" name="lastName" placeholder="Enter Last Name" required>
                % if invalidLastName == "True":
                    <div class="error">*Last name can't have spaces, symbols, or numbers</div>
                % end
            </div>
    
            <div>
                <label for="username">Instructor's Username</label>
                <input id="username" type="text" name="username" placeholder="Enter Username" autocomplete="new-password" required>
                % if invalidUsername == "True":
                <div class="error">*Username already exists.</div>
                % end
            </div>
    
            <div>
                <label for="password">Instructor's Password</label>
                <input id="password" type="password" name="password" placeholder="Enter Password" autocomplete="new-password" required>
            </div>
            %if success == "True":
            <p>Instructor Added Successfully!</p>
            %end
            <div class="button-container">
                <div><input type="submit" value="Add Instructor"></div>
                <div><a href="/admin">Back To Dashboard</a></div>
            </div>
        </form>
    </div>
    
</body>
</html>
