<!DOCTYPE html>
<html>
    <head>
        <title>Show All Students</title>
        <link rel="stylesheet" href="/static/showThings.css?v={{time}}">
    </head>
    <body>
        %if studentDict != {}:
        <div class="container">
            <h1>All Students</h1>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>ID</th>
                </tr>
            
            %for student in studentDict:
                <tr>
                    <th>{{student["First Name"]}}</th>
                    <th>{{student["Last Name"]}}</th>
                    <th>{{student["Username"]}}</th>
                    <th>{{student["Password"]}}</th>
                    <th>{{student["ID"]}}</th>
                </tr>
            %end
            </table>
            <div class="button-container"><div><a href="/admin">Back to dashboard</a></div></div>
        </div>      
        
        %else:
        <div class="no-content">
            <h3>There are no students currently (the school's that bad huh?)</h3>
            <img src="/static/images/noStudents.png" alt="Empty Classroom">
            <div class="button-container"><div><a href="/admin">Back to dashboard</a></div></div>
        </div>
        %end
    </body>
</html>