<!DOCTYPE html>
<html>
    <head>
        <title>Show All Courses</title>
        <link rel="stylesheet" href="/static/showThings.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            %if coursesExist:
            <h1>All Courses</h1>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Number</th>
                    <th>Professor</th>
                    <th>Assistant</th>
                </tr>
            
            %for course in courseDict:
                <tr>
                    <th>{{course["Title"]}}</th>
                    <th>{{course["CourseID"]}}</th>
                    <th>{{course["First Name_x"]}} {{course["Last Name_x"]}}</th>
                    <th>{{course["First Name_y"]}} {{course["Last Name_y"]}}</th>
                </tr>
            %end
            </table>
            <div class="button-container"><div><a href="/admin">Back to dashboard</a></div></div>
            %else:
                <div class="no-content">
                    <h3>There Are No Courses Currently</h3>
                    <img src="/static/images/confusion.png" alt="Man Looking Confused">
                    <div class="button-container"><div><a href="/admin">Back to dashboard</a></div></div>
                </div>
            %end
        </div> 
    </body>
</html>