<!DOCTYPE html>
<html>
    <head>
        <title>Show All Instructors</title>
        <link rel="stylesheet" href="/static/showThings.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            %if instructorsExist:
            <h1>All Instrucotrs</h1>
            <table>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Username</th>
                    <th>Password</th>
                    <th>Role</th>
                    <th>Position</th>
                    <th>ID</th>
                </tr>
            
                %for instructor in instructorDict:
                    <tr>
                        <th>{{instructor["First Name"]}}</th>
                        <th>{{instructor["Last Name"]}}</th>
                        <th>{{instructor["Username"]}}</th>
                        <th>{{instructor["Password"]}}</th>
                        <th>{{instructor["Role"]}}</th>
                        <th>{{instructor["Position"]}}</th>
                        <th>{{instructor["ID"]}}</th>
                    </tr>
                %end
            </table>
            <div class="button-container"><div><a href="/admin">Back To Dashboard</a></div></div>
            %else:
            <div class="no-content">
                <h3>There are no instructors currently</h3>
                <img src="/static/images/missingTeacher.png" alt="Picture of a classroom with a hollowed out teacher">
                <div class="button-container"><div><a href="/admin">Back To Dashboard</a></div></div>
            </div>
            %end  
        </div>
    </body>
</html>