<!DOCTYPE html>
<html>
    <head>
        <title>Instructor Dashboard</title>
        <link rel="stylesheet" href="/static/instructorStudent.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome Back {{firstName}}!</h1>
            <div>  
                <a class="instructor-link" href="/instructor/viewAssignedCourses">View all Assigned Courses</a>
            </div>
            <form action="returnHome" method="post"><button type="submit">Logout</button></form>
        </div>
    </body>
</html>