<!DOCTYPE html>
<html>
    <head>
        <title>View All Assigned Courses</title>
        <link rel="stylesheet" href="/static/showThings.css?v={{time}}">
    </head>
    <body>
        <div class="container">
            %if assignedCourseDict:
            <h4>Assigned Courses</h4>
            <table>
                <tr>
                    <th>Title</th>
                    <th>Number/ID</th>
                </tr>
                %for assignedCourse in assignedCourseDict:
                <tr>
                    <th>{{assignedCourse["Title"]}}</th>
                    <th>{{assignedCourse["CourseID"]}}</th>
                </tr>
                %end
            </table>
            %else:
                <p>*Instructor isn't assigned to any courses*</p>
            %end
            <div class="button-container"><div><a href="/instructor">Back to dashboard</a></div></div>
        </div>
    </body>
</html>